In [5]:
import pandas as pd

data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data
data.keys()
# Series as one-dimensional array
# slicing by explicit index
data['a':'c']
# slicing by implicit integer index
data[0:2]
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [19]:
# data selection in dataframe
## DataFrame as a dictionary
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data
data['area']
data['density'] = data['pop'] / data['area']
data
data.values
data.T
# usin lodata.iloc[:3, :2]c and iloc in dataframes
data.iloc[:3, :2]
data.loc[:'Illinois', :'pop']
# select usin loc
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [24]:
import numpy as np
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')
population / area
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A+B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [33]:
#handling missing data
vals1 = np.array([1, None, 3, 4])
vals1
# deleting nul values
data = pd.Series([1, np.nan, 'hello', None])
data.isnull()
data.dropna()
# ?deleting from a dataframe
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df
df.dropna()
df.dropna(axis='columns')
df[3] = np.nan
df
df.dropna(axis="columns", how="all")
# drop those with nun null values less than 3
df.dropna(axis='rows', thresh=3)

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6